@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-x > * {
    scroll-snap-align: center;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .disable-dbl-tap-zoom {
    touch-action: manipulation;
  }
  /* Chrome, Safari, Edge, Opera */
  input.no-input-arrows::-webkit-outer-spin-button,
  input.no-input-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"].no-input-arrows {
    -moz-appearance: textfield;
  }
  input[type="radio"].hidden-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  input[type="radio"].hidden-radio:checked + img {
    border-color: #ff7e1b;
  }
}

@layer components {
  .plus-minus {
    @apply absolute p-10 flex justify-center items-center top-1/2 transform -translate-y-1/2 disable-dbl-tap-zoom;
  }
  .plus-minus:active svg path {
    @apply fill-orange;
  }
  .cart:active svg path,
  .cart:focus svg path,
  .cart:focus-within svg path,
  .cart:hover svg path {
    @apply fill-black;
  }
  .orange-button {
    @apply text-white font-bold bg-orange rounded-lg p-5 w-full flex items-center gap-4 disable-dbl-tap-zoom transform active:bg-orange-active;
  }
  .mobile-next-previous {
    @apply h-10 w-10 flex justify-center items-center rounded-full bg-white absolute top-1/2 transform -translate-y-1/2 disable-dbl-tap-zoom;
  }
  .mobile-nav-link {
    @apply font-bold text-lg text-black;
  }
  .desktop-nav-link {
    @apply text-gray-dark pb-8 pt-4 border-b-4 border-transparent;
  }
  .desktop-nav-link:focus,
  .desktop-nav-link:focus-within,
  .desktop-nav-link:hover {
    @apply border-orange;
  }
  .desktop-thumbnail {
    @apply rounded-xl border-2 border-transparent overflow-hidden;
  }
  .desktop-thumbnail.active {
    @apply border-orange bg-white bg-opacity-60;
  }
}
