@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-x > * {
    scroll-snap-align: center;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .disable-dbl-tap-zoom {
    touch-action: manipulation;
  }
  /* Chrome, Safari, Edge, Opera */
  input.no-input-arrows::-webkit-outer-spin-button,
  input.no-input-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"].no-input-arrows {
    -moz-appearance: textfield;
  }
}
