@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-x > * {
    scroll-snap-align: center;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
